.inv-table {
    border-collapse: collapse;
    border: black solid 1px;
    margin-bottom: 15px;
}

.inv-table tr {
    border: black solid 1px;
    height: 15px;
}

.inv-table tr td {
    padding: 2px;
}

.inv-table tr td p {
    margin-bottom: unset;
}