.inv-table {
    width: 100%;
    border-collapse: collapse;
    border: black solid 1px;
}

.inv-table tr {

    height: 15px;
}

.inv-table tr td {
    padding: 2px;
    border: black solid 1px;
}

.inv-table tr td p {
    margin-bottom: unset;
}